<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {load href="/static/api/install.css"/}
    <title>ZShop 安装向导</title>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e325e60ca4cd358f2b424f5aecb8021a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1 class="logo">logo</h1>
        <div class="icon_install">安装向导</div>
        <div class="version"></div>
    </div>

    {block name="content"}{/block}
</div>

<div class="footer">
    &copy; Copyright 2020-2025 Zachary, Inc.All Rights Reserved.
</div>
</body>
</html>
