{extend name="layout"/}
{block name="content"}
<section class="section">
    <div class="success_tip cc">
        安装完成
        <p>删除"application\install\data"目录下的"install.lock"可再次重新安装。<p>
        <p>再次感谢您选择 zshop，希望您会喜欢我们的产品！<p>
    </div>

    <div class="bottom tac">
        <a href="{:get_url()}/api" class="btn">访问接口</a>
    </div>
</section>

{load href="https://zh-static.oss-accelerate.aliyuncs.com/js/jquery.js"/}
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'post',
            url: 'https://api.zshop.cn/api/v1/app_install.html',
            dataType: 'json',
            data: {
                method: 'query.app.install.updated',
                user_agent: 'zshop',
                ver: '{:get_version()}'
            },
            success: function () {
                // 版本更新预留
            }
        })
    })
</script>
{/block}
